@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.side-panel {
    height: calc(100vh - #{$header-height});
    width: 20%;
    background-color: #ebebeb;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__list-wrapper {
        padding: 10px $base-padding;

    }
    @media screen and (max-width: 1200px) {

        width: 40px + $base-padding * 2;


        &__info-block {
            display: none;
        }
    }

    &__info-block {
        padding: 15px;
        border-top: 2px solid #fff;
    }

    
    &__info-wrapper {
        text-align: center;
        background-color: #dfdfdf;
        padding: 10px;
        
        &:hover .side-panel__text span{
            color: #fff;
            background-color: $base-orange;
        }
    }
    
    &__text{
        font-family: "Quicksand", sans-serif;
        margin-bottom: 35px;
        
        
        & span{
            transition: color 0.25s, background-color 0.25s;
        }
    }

    &__social-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px
    }

    &__social-item {
        margin-right: 30px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: transparent;
        transition: background-color 0.25s;
        &:last-child{
            margin: 0;
        }

        &:hover {
            background-color: #fff;
        }
    }


    &__social-link {
        line-height: 30px;
        font-size: 30px;
        color: black;
        transition: color 0.25s;

        &--telegram {
            &:hover {
                color: #00a2ff;
            }
        }

        &--facebook {
            &:hover {
                color: #1877f2;
            }
        }

        &--instagram {

            &:hover{
                background: rgb(255,173,0);
                background: linear-gradient(9deg, rgba(255,173,0,1) 40%, rgba(82,84,200,1) 77%);
                background-clip: text;
                -webkit-background-clip: text;
                color: rgba(255,255,255,0);
            }
        }
    }

}


.streamer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    color: black;
    margin: 10px auto 10px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.15s;
    padding: 0.5em;

    &:hover {
        background-color: $base-orange;
    }

    
    &__name {
        display: flex;
        align-items: center;
    }

    &__nikname {
        text-overflow: ellipsis;
    }

    &__icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 10px;
        overflow: hidden;
        position: relative;

        &::before {
            display: none;
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            border-radius: 50%;
            background-color: #f00;
            animation: pulse linear 0.75s infinite;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        
    }
    
    &__status {
        display: flex;
        align-items: center;
    }
    
    &--live &__live-status {
        display: inline;
    }

    &__live-status {
        display: none;
        font-size: 30/16*1rem;
        color: red;
        transition: opacity 0.15s;
        animation: pulse linear 1.5s infinite;
    }

    
    @media screen and (max-width: 1200px) {
        &__nikname {
            display: none;
        }

        &__status {
            display: none;
        }

        &--live &__icon {
            &::before {
                display:block;
            }
        }
    }
}