.header {
  width: 100%;
  padding: 10px $base-padding;
  height: $header-height;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 8px 10px -2px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 8px 10px -2px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 8px 10px -2px rgba(34, 60, 80, 0.25);
  z-index: 15;

  &__home {
    & span {
      font-family: "Secular One", sans-serif;
      font-weight: 100;
      font-size: 1.15em;

      @media screen and (max-width: 720px) {
          display: none;
      }
    }
    color: $base-orange;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    max-width: 500px;
    margin: 0 20px;
  }

  &__text-search {
    font-size: 0;
    flex: 1 1 auto;
    margin-right: 20px;
    vertical-align: center;
    display: flex;
    justify-content: space-between;
  }

  &__text-input {
    display: inline-block;
    font-size: 18 / 16 * 1rem;
    padding: 0.5em 0.25em;
    width: 90%;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    transition: border-color 0.15s;

    &:focus,
    &:focus-visible {
      border-color: black;
    }
  }

  &__search-button {
    width: 10%;
    min-width: 32px;
    font-size: 18 / 16 * 1rem;
    padding: 0.5em 0;
    border-radius: 0;
    border: 1px solid rgb(188, 188, 188);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0) inset;
    -moz-box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0) inset;
    box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0) inset;
    transition: all 0.15s;

    &:hover {
      cursor: pointer;
      background-color: $base-orange;
      color: #fff;
    }

    &:active {
      -webkit-box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.2) inset;
    }

    & i {
      font-size: 0.9em;
    }
  }

  &__search-voice {
    display: block;
    border: none;
    background: none;
    font-size: 27 / 16 * 1rem;
    color: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 5;
    --scale: 0;
    cursor: pointer;
    transition: color 0.25s;

    &::before {
      display: block;
      content: "";
      border-radius: 50%;
      width: 170%;
      padding-top: 170%;
      background-color: #00f;
      position: absolute;
      z-index: -1;
      transform: scale(var(--scale)) translate(-50%, -50%);
      transition: transform 0.25s;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus,
    &:focus-visible {
      &::before {
        top: 50%;
        left: 50%;
      }
      --scale: 1;
      outline: none;
      color: #fff;
    }

    &:active {
      &::before {
        border: 2px solid red;
      }
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    font-size: 35 / 16 * 1rem;
    margin-right: 25px;

    @media screen and (max-width: 540px) {
        font-size: 25 / 16 * 1rem;
    }
  }

  &__nav-anchor {
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      color: black;
    }
  }
}

.dropdown {
  font-size: 20 / 16 * 1rem;
  position: relative;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45 / 16 * 1rem;
    height: 45 / 16 * 1rem;
    border-radius: 50%;
    background-color: $base-orange;
    color: black;
    transition: background-color 0.25s;

    &:hover {
      background-color: rgba(90, 90, 90, 0.25);
    }
  }

  &__list {
    display: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    top: 110%;
    min-width: 250%;
    background-color: #fff;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
  }

  &:hover > &__list,
  &__list:hover {
    display: block;
  }

  &__item {
    border-bottom: 1px solid grey;
    &:hover {
      background-color: rgba(150, 150, 150, 0.5);
    }

    &:last-child {
      border-bottom: none;

      & a {
        color: red;
      }
    }
  }

  &__anchor {
    box-sizing: content-box;
    display: block;
    padding: 0.45em 1em;
    min-width: 13ch;
    color: black;
    text-transform: capitalize;
  }
}
