.main {
    padding: 10px $base-padding 0 20%;
    @media screen and (max-width: 1200px) {
        padding-left: 40px + $base-padding * 2;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - #{$header-height});
}

footer {
    margin: auto auto 10px;
}

.horisontal-nav {

    padding-top: 10px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 15px;

    &::-webkit-scrollbar {
        display: none;
    }

    &__items {
        margin-right: 30px;
        height: 40px;
        background-color: #ebebeb;
        border-radius: 20px;
        padding: 0 20px;
        border: 1px solid #cbcbcb;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            background-color: $base-orange;
        }
    }

    &__anchors {
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
        font-family: "Teko", sans-serif;
    }
}

.video-panel {
    width: 100%;
    &__item-list{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
        // gap: 10px;

    }

    &__item {
        min-width: 250px;
        width: calc(100% / 4 - 10px);
        margin: 5px 5px;

        @media screen and (max-width: 1400px) {
            width: calc(100% / 3 - 10px);
        }
        @media screen and (max-width: 930px) {
            width: calc(50% - 10px);
        }
        @media screen and (max-width: 660px) {
            width: 100%;
            min-width: auto;
        }
    }
}


.video-card {
    width: 100%;;

    &--live {
        .video-card__preview {
            &::after {
                content: "live";
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                text-transform: uppercase;
                background-color: #f00;
                padding: 0.15em;
                font-family: monospace;
                color: #fff;
                font-weight: 600;
                font-size: 14 / 16 * 1rem;
                border-radius: 3px;
            }
        }
    }

    &__hover {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: 20;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity linear 0.25s;

        &:hover {
            opacity: 1;
        }
    }


    &__preview {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;

        
        
        //Магія NetFlix для створення блоків з толерантним співвідношенням сторін.
        //Хрен його знає нашо я так роблю з жорсткою шириною блока, однак, хай буде.
        &::before {
            width: 100%;
            display: block;
            content: "";
            padding-top: 9 / 16 * 100%
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }

    &__viewes {
        padding: 0.15em 0.75em;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: monospace;
        font-size: 15 / 16 * 1rem;
        border-radius: 3px;
    }

    &__description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        
    }

    &__author-avatar {
        display: block;
        width: 45px;
    }

    &__avatar-img {
        width: 100%;
        object-fit: cover;
    }

    &__text-description {
        width: 50%;
        flex: 1 1 auto;
    }
    
    
    
    &__anchor {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: black;
        font-size: 1rem;
        font-family: "Arial", sans-serif;
    }

    &__author-link {
        color: black;
        font-family: "Arial", sans-serif;
        font-size: 0.8rem;
    }

    &__just-button {
        align-self: flex-start;
        width: 5px;
        height: 5px;
        margin: 10px 0 10px 10px;
        background-color: black;
        position: relative;
        flex: 0 0 auto;
        cursor: pointer;

        &::before,
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
        }

        &::before {
            bottom: 150%;
        }

        &::after {
            top: 150%;
        }
    }
}