/* secular-one-regular - latin */
@font-face {
  font-family: "Secular One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/secular-one/secular-one-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/secular-one/secular-one-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/secular-one/secular-one-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/secular-one/secular-one-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/secular-one/secular-one-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/secular-one/secular-one-v5-latin-regular.svg#SecularOne")
      format("svg"); /* Legacy iOS */
}

/* quicksand-regular - latin-ext */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand/quicksand-v22-latin-ext-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/quicksand/quicksand-v22-latin-ext-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/quicksand/quicksand-v22-latin-ext-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/quicksand/quicksand-v22-latin-ext-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/quicksand/quicksand-v22-latin-ext-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/quicksand/quicksand-v22-latin-ext-regular.svg#Quicksand")
      format("svg"); /* Legacy iOS */
}
/* quicksand-700 - latin-ext */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand/quicksand-v22-latin-ext-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/quicksand/quicksand-v22-latin-ext-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/quicksand/quicksand-v22-latin-ext-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/quicksand/quicksand-v22-latin-ext-700.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/quicksand/quicksand-v22-latin-ext-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/quicksand/quicksand-v22-latin-ext-700.svg#Quicksand")
      format("svg"); /* Legacy iOS */
}

/* teko-regular - latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/teko/teko-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/teko/teko-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/teko/teko-v10-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/teko/teko-v10-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/teko/teko-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/teko/teko-v10-latin-regular.svg#Teko") format("svg"); /* Legacy iOS */
}
/* teko-500 - latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/teko/teko-v10-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/teko/teko-v10-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/teko/teko-v10-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/teko/teko-v10-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/teko/teko-v10-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/teko/teko-v10-latin-500.svg#Teko")
      format("svg"); /* Legacy iOS */
}
