* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    box-sizing: content-box;
    max-width: 1090px;
    width: 95%;
    margin: 0 auto;
}